.layout, .playback_layout {
  display: flex;
  flex-direction: column;
  width: 95vw;

    .header {
      display: flex;
      justify-content: space-between;
      padding: .5em 2em;
      height: 6vh;
      
    .left {
      display: flex;
      align-items: center;
      justify-content: center;

      .menu-btn {
        margin-right: 2em;
      }
    }

    .center {
      display: flex;
      align-items: center;

      .form {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #D3D3D3;
        border-radius: 3px;

        .search-divider {
          border-right: 1px solid #D3D3D3;
          height: 2.5em;
        }

        input {
          height: 2em;
          font-size: large;
          width: 40vw;
          border: none;
          padding-left: .3em;
        }

        button {
          width: 5em;
          border: none;
          background-color: #F8F8F8;
        }

        .btn {
          height: 2.5em;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #F8F8F8;
          border-radius: 0 3px 3px 0;
        }
      }

      .micro {
        background-color: #F9F9F9;
        border-radius: 50%;
        margin-left: .5em;
        padding: .5em;
        height: 1.5em;
        width: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 10vw;

      .avatar {
        font-size: large;
        color: #FAFDFD;
        background-color: #0288D0;
        height: 2em;
        width: 2em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    }

    .divider {
      border: 1px solid #E5E5E5;
      width: 100vw;
    }

    .playback_divider {
      border: 1px solid #E5E5E5;
    }

    .main-body {
      height: 94vh;
    }
}

.home {
  display: flex;
  width: 100vw;
}

.home_main {
  width: 95vw;
  
  .rows {
    background-color: #F9F9F9;
    padding: 1.5em .8em;
  }

  .row, .first-row {
    display: flex;
    justify-content: flex-end;
  }

  .last-row {
    display: flex;
  }
}

.playback_layout {
  // background-color: #F9F9F9;
  width: 100vw;
}

.sidebar {
  width: 5vw;
  padding: .2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-small;

  .menu {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 0;
  }

  .sidebar-item {
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;

    p {
      margin: 0;
    }
  }
}

.video-home {
  display: flex;
  flex-direction: column;
  width: 22vw;
  margin-left: 1em;
  margin-bottom: 2.5em;

  .home_video-img img {
    width: 22vw;
  }

  .home_video-under {
    display: flex;
    align-items: flex-start;
    margin-top: .6em;

    .home_channel-img {
      border-radius: 50%;
      img {
        border-radius: 50%;
        height: 2.5em;
      }
    }

    .home_video-text {
      padding: 0 1em;
      font-family: 'Roboto', Arial, sans-serif;

      p, h3 {
        margin: 0;
      }

      p {
        font-size: small;
        color: #606060;
      }

      .home_title {
        height: 2.4em;
        width: 15vw;
        overflow: hidden;

        h3 {
          font-size: 14.5px;
          font-weight: 600;
        }
      }

      .home_channel {
        margin: .5em 0 .3em 0;
      }
    }
  }
}

