body {
  font-family: 'Roboto', Arial, sans-serif;
}

.layout, .playback_layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95vw;
}

.layout .header, .playback_layout .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5em 2em;
  height: 6vh;
}

.layout .header .left, .playback_layout .header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.layout .header .left .menu-btn, .playback_layout .header .left .menu-btn {
  margin-right: 2em;
}

.layout .header .center, .playback_layout .header .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout .header .center .form, .playback_layout .header .center .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
}

.layout .header .center .form .search-divider, .playback_layout .header .center .form .search-divider {
  border-right: 1px solid #D3D3D3;
  height: 2.5em;
}

.layout .header .center .form input, .playback_layout .header .center .form input {
  height: 2em;
  font-size: large;
  width: 40vw;
  border: none;
  padding-left: .3em;
}

.layout .header .center .form button, .playback_layout .header .center .form button {
  width: 5em;
  border: none;
  background-color: #F8F8F8;
}

.layout .header .center .form .btn, .playback_layout .header .center .form .btn {
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8F8;
  border-radius: 0 3px 3px 0;
}

.layout .header .center .micro, .playback_layout .header .center .micro {
  background-color: #F9F9F9;
  border-radius: 50%;
  margin-left: .5em;
  padding: .5em;
  height: 1.5em;
  width: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout .header .right, .playback_layout .header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 10vw;
}

.layout .header .right .avatar, .playback_layout .header .right .avatar {
  font-size: large;
  color: #FAFDFD;
  background-color: #0288D0;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout .divider, .playback_layout .divider {
  border: 1px solid #E5E5E5;
  width: 100vw;
}

.layout .playback_divider, .playback_layout .playback_divider {
  border: 1px solid #E5E5E5;
}

.layout .main-body, .playback_layout .main-body {
  height: 94vh;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.home_main {
  width: 95vw;
}

.home_main .rows {
  background-color: #F9F9F9;
  padding: 1.5em .8em;
}

.home_main .row, .home_main .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home_main .last-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.playback_layout {
  width: 100vw;
}

.playback_main {
  background-color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em 5em;
}

.sidebar {
  width: 5vw;
  padding: .2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: x-small;
}

.sidebar .menu {
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 0;
}

.sidebar .sidebar-item {
  width: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5em 0;
}

.sidebar .sidebar-item p {
  margin: 0;
}

.video-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 22vw;
  margin-left: 1em;
  margin-bottom: 2.5em;
}

.video-home .home_video-img img {
  width: 22vw;
}

.video-home .home_video-under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: .6em;
}

.video-home .home_video-under .home_channel-img {
  border-radius: 50%;
}

.video-home .home_video-under .home_channel-img img {
  border-radius: 50%;
  height: 2.5em;
}

.video-home .home_video-under .home_video-text {
  padding: 0 1em;
}

.video-home .home_video-under .home_video-text p, .video-home .home_video-under .home_video-text h3 {
  margin: 0;
}

.video-home .home_video-under .home_video-text p {
  font-size: small;
  color: #606060;
}

.video-home .home_video-under .home_video-text .home_title {
  height: 2.4em;
  width: 15vw;
  overflow: hidden;
}

.video-home .home_video-under .home_video-text .home_title h3 {
  font-size: 14.5px;
  font-weight: 600;
}

.video-home .home_video-under .home_video-text .home_channel {
  margin: .5em 0 .3em 0;
}

.video_playback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video_playback .video {
  width: 75vw;
  height: 70vh;
}

.video_playback .playback_video-text h3 {
  margin-bottom: 0;
  font-weight: 700;
}

.video_playback .playback_video-text p {
  font-size: medium;
  margin: .8em 0 0;
}

.video_playback .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .8em;
}

.video_playback .icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.5em;
}

.video_playback .icons .icon p {
  margin-left: .5em;
  font-size: medium;
}

.video_playback .playback_video-channel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  padding: .5em;
  margin-bottom: 1em;
}

.video_playback .playback_video-channel img {
  height: 2.5em;
  border-radius: 50%;
  margin-right: .5em;
}

.video_playback .playback_video-channel .playback_img-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video_playback .playback_video-channel .playback_img-text .playback_channel-text h3 {
  font-size: medium;
  margin: 0;
}

.video_playback .playback_video-channel .playback_img-text .playback_channel-text p {
  font-size: smaller;
  margin: 0;
}

.video_playback .playback_video-channel .playback_btn {
  background-color: #dc0000;
  color: white;
  font-weight: bold;
  padding: .6em 1em;
  border-radius: 2px;
}

.video_playback .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video_playback .comments span {
  color: #0240d0;
}
/*# sourceMappingURL=App.css.map */